@import '/src/styles.scss';

.operatorsWrapp {
  width: 70px;
  padding: 4px;
}

.btn {
  width: 54px;
  height: 54px;
  margin: 4px;
  font-size: 21px;
  text-align: center;
  background-color: greenyellow;
}

