@import 'scss/variables';

.operatorsWrapp {
  width: 70px;
  padding: 4px;
}

.btn {
  width: 54px;
  height: 54px;
  margin: 4px;
  font-size: 21px;
  text-align: center;
  background-color: $color-orange;
  border-color: $color-orange-border;
}

.btn:hover {
  background-color: $color-orange-hover;
  border-color: $color-orange-border-hover;
}
