@import 'scss/variables';

.numbersWrapp {
  width: 200px;
  padding: 4px;
}

.btn {
  width: 54px;
  height: 54px;
  margin: 4px;
  font-size: 21px;
  text-align: center;
  background-color: $color-green;
  border-color: $color-green-border;
}

.btn:hover {
  background-color: $color-green-hover;
  border-color: $color-green-border-hover;
}

.numbersWrapp .btn:nth-last-child(2) {
  width: 60.5%;
}
